* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  margin: 50px auto;
  max-width: 500px;
  border: 1px solid #ddd;
  min-height: 50vh;
  border-radius: 25px;
  padding: 10px;
}

.notification {
  width: 100vw;
  max-width: 300px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
}

.notification button {
  background-color: transparent;
  border: 0;
  color: #fff;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  transition: .3s linear;
  font-size: 25px;
  transform: rotate(45deg);
}

.notification button:hover { 
  color: #000;
}

.notification.success {
  background-color: rgb(111, 211, 111);
  border: 1px solid green;
}

.notification.error {
  background-color: rgb(238, 103, 103);
  border: 1px solid red;
}

.event_item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-top: 5px;
}

.event_form form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.event_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.event_row input {
  flex-basis: 48%;
}

.event_form button {
  background-color: green;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  border-color: green;
  border-radius: 10px;
  transition: .3s linear;
}

.event_form button:hover {
  background-color: #fff;
  color: green;
  cursor: pointer;
}

.event_form input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ddd;
}